body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
}


#content {
    overflow: scroll;
}

/* styles for heading */
.navbar-brand {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder;
    font-size: 2em;
}

.bg-light {
    background-color: transparent!important;
}

.navbar-light .navbar-brand {
    color: lightslategray;
    transition: 1s!important;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bolder!important;
    font-size: 2em!important;
}

.form-control {
    width: 90%;
}

h2 {
    font-size: 1.5em;
    transition: 1.0s!important;
    font-weight: bolder!important;
}

.difficultyImage {
    height: 1.5em;
}






/* STYLES FOR CARDS */
.card-wrapper {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px lightgray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.heading-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.information-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;
    padding-bottom: 0px;
}

.trail-info-wrapper {
    margin: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.summary {
    font-size: 1.3em;
}

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-wrapper > img {
    width: 225px;
    border-radius: 10px;
}

.weather-wrapper {
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.icon-wrapper > img {
    width: 75px;
}

.temp-value-wrapper {
    font-size: 2.5em;
}

.wind-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}
.wind-data-wrapper {
    font-size: 1.2em;
}
.cloud-icon-wrapper {
    margin-right: 5px;
}
.heading-wrapper {
    background-color: lightgray;
}

@media only screen and (max-width: 600px) {
    .information-wrapper {
        flex-direction: column;
        font-size: .75em;
    }
    .temp-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 1em;
    }

    h2 {
        font-size: 1em;
    }

    .image-wrapper {
        margin-top: 7px;
    }
}
@media only screen and (max-width: 330px) {
    .icon-wrapper > img {
        width: 50px;
    }
    .temp-wrapper {
        font-size: .75em;
    }
}

